ion-toolbar {
  --background:rgb(248, 196, 8);
  --color: blue;
  text-align: center;
}
ion-content {
  --background: green;
}
.card {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 10px;
  margin-top: 10px;
  color: black;
  box-shadow: rgb(0 0 0 / 30%) 0 4px 12px;
}
.card img {
  width: 60px;
}
.card .card-title {
  width: 100%;
  font-size: 20px;
}
.card ion-icon {
  font-size: 24px;
}
.insert-text-container {
  background-color: brown;
  padding: 10px;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.insert-text-container input {
  background-color: chartreuse;
  width: 100%;
  margin-right: 5px;
  border: black solid 1px;
  border-radius: 20px;
  padding-inline-start: 20px;
  padding: 10px;
  color: black;
}
.insert-text-container button {
  background-color: transparent;
  color: white;
  padding: 10px;
  font-weight: bold;
}
.insert-text-container input::placeholder{
  color: darkblue;
  font-weight: 400;
}
.task-not-found-container {
  text-align: center;
  padding: 10px;
  color: black;
  font-weight: 700;
}
